<%= render 'layouts/header' %>

<div class="bg">
<div class="container">
<%= render 'layouts/loginstatus' %>
<h2 class="index-h2">管理者ページ</h2>

<a href="../foods">食材一覧</a>
<a href="../foods/new">食材投稿</a>

</div><!-- container -->
</div><!-- bg -->