<%= render 'layouts/header' %>

<div class="bg">
<div class="container">
<%= render 'layouts/loginstatus' %>
<h2 class="index-h2">管理者ページ</h2>

<%= link_to "食材一覧", foods_path %>
<%= link_to "食材投稿", new_food_path %>

</div><!-- container -->
</div><!-- bg -->