<%= render 'layouts/header' %>

<div class="bg">
<div class="container">
<%= render 'layouts/loginstatus' %>

<h2 class="index-h2">みんなのスムージー</h2>
<%= render 'smoothies/smoothie_contents' %>

</div><!-- container -->
</div><!-- bg -->