<%= render 'layouts/header' %>

<div class="bg">
<div class="container">

	<div class="text-center">
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeO5NOVsWyoOA7Jjlfn92H4RaiA_b2NQM7bzfQ7sqJ_WpePRA/viewform?embedded=true" width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
	</div>

</div><!-- container -->
</div><!-- bg -->