<%= render 'layouts/header' %>

<div class="bg">
<div class="container">
<h1>Smoothies#top</h1>
<p>Find me in app/views/smoothies/top.html.erb</p>
<%= render 'layouts/loginstatus' %>
</div><!-- container -->
</div><!-- bg -->