/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "smoothies";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color :#696059;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

// 全体CSS
.bg {
	background-color: #f6f1ea;
}
.container {
	max-width: 1080px;
	padding: 20px;
}

// ヘッダー
header {
	max-width: 1080px;
	margin: 0 auto;
}
.navbar-brand img{
	width: 150px;
    height: auto;
}
.icon-content {
	float: left;
}
.icon-wrapper {
	display: inline-block;
}
.icon-wrapper img {
	width: 30px;
	height: auto;
	display: block;
    margin: 0 auto;
}
.icon-text {
	font-size: 12px;
}
.invisible-pc {
	display: none;
}
.invisible-sp {
	display: inline-block;
}
.head-hr {
    width: 100%;
    background-color: #fff;
    border-top: solid 1px #d4d4c0;
    overflow: hidden;
}



// ログイン・会員登録画面
.account-item {
	width: 100%;
}
.account-item div {
	margin: 0 auto;
	max-width: 500px;
}
.required {
	font-size: 10px;
	color: red;
	margin-left: 1em;
}
input[type="text"] {
    width: 30em;
    height: 40px;
    border: 1px #6c757d solid;
}
input[type="password"] {
    width: 30em;
    height: 40px;
    border: 1px #6c757d solid;
}
input[type="email"] {
    width: 30em;
    height: 40px;
    border: 1px #6c757d solid;
}
select {
	height: 40px;
}
textarea {
	width: 30em;
	border: 1px #6c757d solid;
}


// カスタマイズページ
/*タブ切り替え全体のスタイル*/
.nav-tabs {
	width: 100%;
	display: flex;
}
.nav-tabs li {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width: calc(100%/4);
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.nav-tabs li a {
	display: inline-block;
	width: 100%;
	color: #696059;
	text-decoration: none;
}
.nav-tabs li:hover {
	opacity: 0.75;
}
.tab-fruits {
	border: 1px solid #e3d395;
}
.tab-content > .active {
    float: left;
}
.tab-vegetables {
	border: 1px solid #e3d395;
}
.tab-liquid {
	border: 1px solid #e3d395;
}
.tab-other {
	border: 1px solid #e3d395;
}
.tab-fruits .active {
	background-color: #F78282;
	color: #fff;
}
.tab-vegetables .active {
	background-color: #32A86C;
	color: #fff;
}
.tab-liquid .active {
	background-color: #5ab4bd;
	color: #fff;
}
.tab-other .active {
	background-color: #e3d395;
	color: #fff;
}

.food_content {
	background-color: #FFF;
    padding: 1rem;
    // width: 40%;
    max-width: 300px;
    border-radius: 20px;
}
.food_content:nth-child(n + 2) {
	margin-top: 1rem;
}
.food_image {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}
.food_image img {
	width: 100%;
}

.spinner_wrapper {
    display: flex;
    width: 200px;
    padding-left: 5px;
    padding-top: 8px;
    margin: 0 auto;
}
input.food_quantity {
    width: 80px;
    height: 34px;
    float: left;
    margin: 0 0.5rem;
    text-align: right;
    padding: 0 5px;
}
input.spinner_up {
    margin: 0 0.5rem;
    border: 0px;
    width: 30px;
    height: 30px;
    background: url("plus.png") no-repeat;
    background-size:cover;
}
input.spinner_down {
	margin: 0 0.5rem;
    border: 0px;
    width: 30px;
    height: 30px;
    background: url("minus.png") no-repeat;
    background-size:cover;
}

.nutrients_wrapper {
	margin: auto;
    background-color: #EEEBE9;
    padding: 1rem;
    border-radius: 20px;
	width: 300px;
    max-width: 300px;
    transition: .3s ease-in-out;
}
.nutrients_wrapper img {
	width: 100%;
}


/*レスポンシブCSS*/
@media screen and (max-width:991px) {
	.icon-wrapper img {
    	width: 20px;
	}
	.icon-content {
		height: 50px;
	}
	.icon-text {
    	font-size: 10px;
	}
	.invisible-pc {
		display: inline-block;
	}
	.invisible-sp {
		display: none;
	}
}